*.Rds
parameters
.DS_Store
.Rhistory
temp_res.Rds
temp_res_sim_w_doomed.Rds
results/
debug_short_term.r
data
misc/maled_data
misc/results
misc/provide_data
misc/*.docx
misc/*.pptx
misc/*.pdf
parameters_default.Rds
parameters_debug_default_original.Rds
config_old.yml
misc/draft_figure_2.png
misc/figure_2.png
misc/figure_2_supp.png